<html>
  <head>
    <meta charset='utf-8'>
    <title>Shippin' Shits</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill out the following form to get a price on shipping your shit.</h1>
    <form action='/dimensions'>
      <div class='form-group'>
        <label for='length'>Package length</label>
        <input id='length' name='length' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='width'>Package width</label>
        <input id='width' name='width' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='weight'>Package weight</label>
        <input id='weight' name='weight' class='form-control' type='text'>
      </div>
      <button type='submit' class='btn'>Go!</button>
    </form>
  </body>
</html>
